.subscription{
    min-height: 800px;

    > .topHeader{
        background-color: #F5F5F5;
        padding:30px;
        height: 180px;
        h1{
            font-size: 40px;
            text-align: center;
            font-weight: bold;
            color:rgb(162,0,0);
        }
    }
    .container{
        margin:auto;
        margin-top: -60px;
    }
    .imageContainer{
        width: 100%;
        position: relative;
        overflow:hidden;

        img{
            width: 0%;
            margin-left: -20px;
            margin-right: -50px;
            height: 0;
        }
        .startAnimation{
            animation-name: widthDrawing;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
        @keyframes widthDrawing{
            0%{width: 0;height:100px}
            100%{width: 104%;height:250px}
        }

    }
}