.footer{
    background-color: #393939;
    width: 100%;
    min-height:300px;
    margin-top: 50px;
    color:white;
    padding:30px;

    .row{
        width: 80%;
        margin:auto;
    }

    .logoLeft{
        position: relative;
        img{
            width: 100px;
            position: absolute;
            right:20px;

        }
    }
    ul li{
        list-style-type: none;
        font-size:20px;
    }
    h2{
        font-family: 'Courier New', Courier, monospace;
    }
    .section1,.section2,.section3{
        margin: auto;
        margin-top: 0;
    }
}