.docsTitleContent{
  font-family: Arial;
  margin-bottom: 20px;
  >h2{
    font-size: 22px;
    font-weight: bold;
    background-color: snow;
  }
  .content{
    min-width: 80%;
    min-width: 300px;
    background-color: snow;

  }
}