.docs{
  >.topNav{
    
  }
  >.sideNav{
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(221, 221, 221);
    color: white;
  }
  >.container{
    min-height: 500px;
    
  }
  .footer{
    z-index: 10;
  }
}