.sideNav{
    text-align: left;
    padding-top: 80px;
    height: 400px;
    z-index: 2;

    //handle position
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(221, 221, 221);
    color: white;

    .collapseIcon{cursor: pointer;color: black;}

    >.sideNavContent{
        >.sideNavItem{
            a{
                color:black;
                padding-left: 25px;
                padding-right: 50px;
            }
            >span{
                float: right;
                font-weight: bold;
            }
            .active{
                background-color: rgb(172, 71, 71);
                a {color:white;}
                padding:10px;
            }
            .inactive{
                padding:10px;
            }
        }
    }

}

.sideNavhidden{
    width: 0;
    overflow: hidden;
    transition: all 1s;
}
.sideNavShow{
    min-width: 300px;
    transition: all 1s;
}